.membership {
    .table {
        table-layout: fixed;

        thead th{
            text-align: center;
            vertical-align: middle;
        }

        tbody tr {
            white-space: nowrap;
            td {
                overflow: hidden;
                text-overflow: ellipsis;
                &.td-align-center {
                    text-align: center;
                }
            }
        }
    }
}