.members-list {
    .table {
        font-size: 0.7em;
        
        &__action-btn{
            color: #007bff;
            cursor: pointer;
        }
        &__action-icon {
            cursor: pointer;
        }
    }
}