.members-list {
    .table {
        table-layout: fixed;
        
        &__action-btn{
            color: #007bff;
            cursor: pointer;
        }
        &__action-icon {
            cursor: pointer;
        }

        thead th{
            text-align: center;
            vertical-align: middle;
        }

        tbody tr {
            white-space: nowrap;
            td {
                overflow: hidden;
                text-overflow: ellipsis;
                &.td-align-center {
                    text-align: center;
                }
            }
        }
    }
}