.members-list {
    .table {
        table-layout: fixed;

        &.table-reduced {
            font-size: 0.8em;
            thead th:nth-child(8), thead th:nth-child(9) {
                width: 80px!important;
            }
            .table__action-btn {
                font-size: 1.2em;
            }
        }
        
        &__action-btn{
            color: #007bff;
            cursor: pointer;
        }
        &__action-icon {
            cursor: pointer;
        }

        thead th{
            text-align: center;
            vertical-align: middle;
        }

        tbody tr {
            white-space: nowrap;
            td {
                overflow: hidden;
                text-overflow: ellipsis;
                &.td-align-center {
                    text-align: center;
                }
                &.highlight {
                    background-color: rgb(43, 158, 253);
                    color: #fff;
                    font-weight: 600;
                    text-shadow: 0 0 1px #000;
                }
            }
        }
    }
}